{% extends 'social_site/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
<!-- These block tags allow me to write in particular block tags like i can work with any of the three block tags 
And can define them anywhere asper my need (IMP!!) -->
        {% block pregroup  %}
        
        {% endblock  %}
        {% block group_content %}
        
        {% endblock  %}
        {% block postgroup %}
        
        {% endblock  %}
    </div>
</div>

{% endblock  %}