<div class="post media">
    <h3>{{post.message_html|safe}}</h3>
    <div class="media-body">
        <strong> {{post.user.username}} </strong>
        <h5 class='media-heading'>
            <span class="username">
                <a href="{% url 'posts:for_user' username=post.user.username %}">@{{post.user.username}}</a>
            </span>
            <time><a href="{%url 'posts:single' username=post.user.username pk=post.pk%}">{{post.created_at}}</a></time>
        </h5>
        <div class="media-footer">
            {% if user.username == post.user.username %}
            <a href="{% url 'posts:delete' pk=post.pk %}" class='btn btn-simple' title='delete'>delete</a>
            {% else %}
            <p>posted by {{post.user.username}}</p>
            {% endif %}
            
        </div>
    </div>
</div>